*{
    box-sizing: none;
}
:root {
    --blue: #3F51B5;
    --primary: #3F51B5;
    --info: #3F51B5;
}

body{
    padding: 0;
    margin: 0;
    background-color: #f0efef;
}

header nav {
    background-color: #fff;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.4);
}

header nav .navbar-brand img{
    height: 50px;
}

header nav ul li a {
    text-transform: uppercase;
}
.btn-primary{
    background-color: #3F51B5;
}

.produtos .card{
    margin-bottom: 20px;
}
.produtos .card .img-thumbnail {
    width: 200px;
}
.carousel {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #979a9c;
    border-color: #6d6d6e;
}
.btn-primary  {
	background-color:#979a9c;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:10px 16px;
	text-decoration:none;
    text-shadow:0px 1px 0px #414244;
    position: relative;
    border-color: #6d6d6e;
}
.btn-primary:hover {
	background-color:#6d6d6e;
}